<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">


	<select id="freeBoardGetList"  resultMap="freeBoardGetList"> <!-- resultType="ino.web.board.dto.BoardDto" -->
	SELECT CASE WHEN CODE_TYPE ='01' THEN '자유' WHEN CODE_TYPE ='02' THEN '익명' ELSE 'QnA' END AS CODE_TYPE, NUM, NAME, TITLE, CONTENT, TO_CHAR(REGDATE , 'YYYY/MM/DD')AS REGDATE FROM FREEBOARD
	ORDER BY NUM DESC
	
	</select>
	
	<resultMap type="freeBoardDto" id="freeBoardGetList">
   <result property="codeType" column="CODE_TYPE"/>
   <result property="num" column="NUM"/>
   <result property="name" column="NAME"/>
   <result property="title" column="TITLE"/>
   <result property="content" column="CONTENT"/>
   <result property="regdate" column="REGDATE"/>
   </resultMap>
	<insert id="freeBoardInsertPro" parameterType="freeBoardDto" >
		INSERT INTO FREEBOARD(NUM, CODE_TYPE, TITLE, NAME, REGDATE, CONTENT)
		VALUES( FREEBOARDNUM_SEQ.NEXTVAL,#{codeType}, #{title}, #{name}, SYSDATE, #{content})
	
	</insert>

	<select id="freeBoardDetailByNum" resultType="freeBoardDto" parameterType="int">
		SELECT CODE_TYPE as codeType,NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD') REGDATE, CONTENT FROM FREEBOARD
		WHERE NUM=#{num}
	</select>

	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM FREEBOARD
	</select>

	<update id="freeBoardModify" parameterType="freeBoardDto">
		UPDATE FREEBOARD
		SET TITLE = #{title}
				, CODE_TYPE = #{codeType}
				, CONTENT = #{content}
		WHERE NUM = #{num}

	</update>

	<update id="freeBoardDelete" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM = #{num}

	</update>


</mapper>